/**
 * @author {{ userName }}
 * @since {{ created }}
 */

import * as React from "react";

interface Props {
  children?: React.ReactNode;
}

const {{pascalCase name}} = (props: Props) => (
  <div>{props.children}</div>
);

export {
  {{pascalCase name}},
}